<section class="py-6 rounded-lg" [tuiSkeleton]="!!(inventariosState$ | async)?.loadingProductosInventario">

  <!-- Caso 1: no hay inventarios y no se ha hecho búsqueda -->
  <tui-block-status *ngIf="!isTheSearchWasDone 
           && (inventariosState$ | async)?.inventarios?.length === 0 
           && !(inventariosState$ | async)?.loadingProductosInventario; else tabla" size="m" class="m-auto">
    <img alt="no data"
      src="https://res.cloudinary.com/ddksrkond/image/upload/v1743382501/APP%20INVENTARIO/undraw_no-data_ig65_k666oz.svg"
      tuiSlot="top" />
    <h4>Aún no tienes ningún inventario</h4>
    <span>Empieza a crear un inventario</span>
  </tui-block-status>

  <ng-template #tabla>
    <!-- buscador -->
    <search tuiSearch class="pb-4">
      <form [formGroup]="form" (submit)="onSubmitSearch()">
        <fieldset tuiTextfieldSize="s">
          <tui-textfield iconStart="@tui.search">
            <input tuiTheme="ligth" formControlName="nombre" placeholder="Buscar por nombre o codigo de producto"
              tuiTextfield />
          </tui-textfield>

          <tui-select class="w-44" formControlName="categoria" [stringify]="stringify">
            Categoria
            <select placeholder="Categoria" tuiSelect [items]="(selectCategorias$ | async)"></select>
          </tui-select>

          <button size="s" appearance="textfield" tuiButton type="submit" (click)="onSubmitSearch()"
            [disabled]="!form.value.nombre && !form.value.categoria && form.value.activo === null">
            Buscar
          </button>
        </fieldset>

        <fieldset>
          Resultados: {{ ( isTheSearchWasDone ? (inventariosState$ | async)?.inventarios_search?.length :
          (inventariosState$ | async)?.inventarios?.length)}}
          <hr />
          <button iconEnd="@tui.list-filter-plus" tuiButton type="button" size="xs" appearance="flat-grayscale"
            (click)="expanded = !expanded">
            Filtros
          </button>
          <hr />
          <button appearance="flat-grayscale" iconStart="@tui.rotate-cw" size="xs" tuiButton type="reset"
            (click)="clearSearch()">
            Limpiar {{ count() ? '(' + count() + ')' : '' }}
          </button>
        </fieldset>

        <tui-expand [expanded]="expanded">
          <div class="flex gap-3 items-center ">
            <fieldset>
              <tui-input-range formControlName="stockRange">
                <label tuiLabel>Rango de Stock</label>
              </tui-input-range>
            </fieldset>

            <fieldset>
              <tui-input-range formControlName="precioCompraRange">
                <label tuiLabel>Rango de Precio de Compra</label>
              </tui-input-range>
            </fieldset>

            <fieldset>
              <tui-input-range formControlName="precioVentaRange">
                <label tuiLabel>Rango de Precio de Venta</label>
              </tui-input-range>
            </fieldset>
          </div>
        </tui-expand>
      </form>
    </search>

    <div class="rounded-lg"
      [tuiSkeleton]="!!(inventariosState$ | async)?.loadingProductosInventario || !!(inventariosState$ | async)?.loadingDelete">

      <!-- Caso 2: mostrar tabla si hay inventarios o inventarios_search -->
      <div
        *ngIf="(isTheSearchWasDone ? ((inventariosState$ | async)?.inventarios_search?.length || 0) : ((inventariosState$ | async)?.inventarios?.length || 0)) > 0">
        <table tuiTable [columns]="allColumnKeys" size="s">
          <thead>
            <tr>

              <th tuiTh>Codigo SKU</th>
              <th tuiTh>Imagen</th>
              <th tuiTh>Nombre</th>
              <th tuiTh>Categoria</th>
              <th tuiTh>Stock</th>
              <th tuiTh>Costo Venta</th>


              <th tuiTh>Acciones</th>
            </tr>
          </thead>
          <tbody tuiTbody>
            
            <tr *ngFor="let inventario of (isTheSearchWasDone 
                                         ? (inventariosState$ | async)?.inventarios_search 
                                         : (inventariosState$ | async)?.inventarios)">

                                          <td tuiTd>
                <div>
                  <span class=" text-lg text-left">{{ inventario.producto_sku }}
                  </span>
                </div>
              </td> 
              <td tuiTd class="text-left">
                <div class="flex justify-left items-center py-2">
                  <div (click)="onSetImageProduct(inventario); open = true;"
                    class="w-24 h-24 rounded-xl overflow-hidden border-2 border-gray-300 dark:border-gray-600 shadow-md hover:shadow-xl transition-all hover:border-blue-500 dark:hover:border-blue-400">
                    <img
                      [src]="inventario?.imagen_producto ? URL_BASE + inventario.imagen_producto : 'https://sublimac.com/wp-content/uploads/2017/11/default-placeholder.png'"
                      [alt]="inventario.imagen_producto || 'Imagen del producto'"
                      class="w-full h-full object-cover cursor-pointer hover:scale-110 transition-transform duration-200" />

                  </div>
                </div>
              </td>

              <td tuiTd>
                <div>
                  <span class=" text-lg text-left">{{ inventario.producto_nombre }}
                    <p   class=" text-md text-left" *ngIf="mostrarAdvertencia(inventario.producto_nombre)">
                      ⚠️ Producto eliminado
                    </p>

                  </span>
                </div>
              </td>

              <td tuiTd>
                <div>
                  <tui-badge appearance="neutral" size="xl" tuiStatus>
                    {{ inventario.categoria_nombre }}
                  </tui-badge>

                </div>
              </td>
              <td tuiTd>
                <div tuiBlockDetails>
                  <span class="-translate-y-1" [ngClass]="getColorClass(inventario.cantidad)">
                    {{ inventario.cantidad }}
                  </span>
                </div>
              </td>
              <td tuiTd>
                <div tuiBlockDetails>
                  <p class=" text-2xl">S/. {{ inventario.costo_venta }}</p>
                  
                </div>
                                  <p class="text-red-400">{{ inventario.costo_venta == 0 ? '* Sin costo' : '' }}</p>
              </td>



              <td tuiTd>
                <div class="flex gap-2 " *ngIf="mode === 'normal'">
                  <button [disabled]="!!!(userPermissions$ | async)?.can_delete_inventory"
                    [appearance]="!!(userPermissions$ | async)?.can_delete_inventory ? 'error':'secondary-grayscale'"
                    (click)="eliminarInventario(inventario.id)" iconStart="@tui.trash" tuiButtonVertical tuiButton
                    type="button">
                    Eliminar
                  </button>
                  <button appearance="info" [disabled]="!inventario.activo" tuiButtonVertical
                    (click)="showDialogEditInventario(inventario)" iconStart="@tui.pencil" tuiButton type="button">
                    Actualizar
                  </button>
                </div>
                <div class="flex gap-2 " *ngIf="mode === 'select_product_sale_mode'">
                  <button [disabled]="inventario.cantidad <= 0  || !inventario.activo || inventario.costo_venta <= 0"
                    [appearance]="inventario.cantidad <= 0 ? 'secondary-grayscale': 'primary-grayscale'" class="w-full"
                    (click)="cerrarDialogo(inventario)" tuiButtonVertical
                    [iconStart]="inventario.cantidad <= 0 || inventario.costo_venta <= 0 ? '@tui.lock': '@tui.plus'" tuiButton type="button">
                    Agregar
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Caso 3: búsqueda hecha pero sin resultados -->
      <tui-block-status *ngIf="isTheSearchWasDone 
               && (inventariosState$ | async)?.inventarios_search?.length === 0" size="m" class="m-auto">
        <img alt="no matches"
          src="https://res.cloudinary.com/ddksrkond/image/upload/v1743382501/APP%20INVENTARIO/undraw_no-data_ig65_k666oz.svg"
          tuiSlot="top" />
        <h4>Productos no encontrados en el inventario</h4>
        <span>No coincidimos con ningún producto</span>
      </tui-block-status>

    </div>
  </ng-template>

</section>
<ng-template [(tuiPreviewDialog)]="open">
  <tui-preview>
    <tui-preview-title>{{ titles[index] }}</tui-preview-title>
    <tui-preview-pagination [length]="length" [(index)]="index" />

    <button iconStart="@tui.x" tuiIconButton tuiPreviewAction type="button" (click)="open = false">
      Close
    </button>

    <img *polymorpheusOutlet="content[index] as src" alt="preview" [src]="src" />
  </tui-preview>
</ng-template>