<body class="grid h-screen overflow-x-hidden ">
  <ng-template #sidebarTemplate>
    <nav class="flex flex-col  justify-between h-full bg-tui-background  max-w-[200px] ">

      <div class="flex flex-col gap-2">
        <a routerLink="/app"
          class="flex items-center gap-3 p-3 text-xl font-bold transition-all duration-300 ease-in-out text-white">
          <span>
            <img
              src="https://res.cloudinary.com/ddksrkond/image/upload/c_crop,w_350,h_150/v1755473642/APP%20INVENTARIO/T-removebg-preview_zgnu7f.png"
              class="w-32 transition-all duration-300 invert-0 dark:invert" alt="">
          </span>
        </a>

        <a  (click)="onClose()" [routerLinkActiveOptions]="{ exact: true }" routerLink="/app" routerLinkActive="bg-gray-300 dark:bg-neutral-700"
          class="flex items-center gap-3 p-3 rounded-xl hover:bg-gray-300 dark:hover:bg-neutral-700 transition-all duration-300 ease-in-out">
          <tui-icon icon="home" class="text-blue-500"></tui-icon> <span>Dashboard</span>
        </a>
        <!-- Inventario -->
        <a  (click)="onClose()" routerLink="/app/inventario" routerLinkActive="bg-gray-300  dark:bg-neutral-700"
          class="flex items-center gap-3 p-3 rounded-xl hover:bg-gray-300 dark:hover:bg-neutral-700 transition-all duration-300 ease-in-out">
          <tui-icon icon="box" class="text-green-500"></tui-icon> <span>Inventario</span>
        </a>

        <!-- Ventas -->
        <a  (click)="onClose()" routerLink="/app/ventas" routerLinkActive="bg-gray-300  dark:bg-neutral-700"
          class="flex items-center gap-3 p-3 rounded-xl hover:bg-gray-300 dark:hover:bg-neutral-700 transition-all duration-300 ease-in-out">
          <tui-icon icon="shopping-cart" class="text-yellow-500"></tui-icon> <span>Ventas</span>
        </a>
        <!-- Productos -->
        <a  (click)="onClose()" routerLink="/app/productos" routerLinkActive="bg-gray-300  dark:bg-neutral-700"
          class="flex items-center gap-3 p-3 rounded-xl hover:bg-gray-300 dark:hover:bg-neutral-700 transition-all duration-300 ease-in-out">
          <tui-icon icon="list" class="text-cyan-500"></tui-icon> <span>Productos</span>
        </a>

        <!-- Proveedores -->
        <a  (click)="onClose()" routerLink="/app/proveedores" routerLinkActive="bg-gray-300  dark:bg-neutral-700"
          class="flex items-center gap-3 p-3 rounded-xl hover:bg-gray-300 dark:hover:bg-neutral-700 transition-all duration-300 ease-in-out">
          <tui-icon icon="building" class="text-purple-500"></tui-icon> <span>Proveedores</span>
        </a>

        <!-- Tiendas -->
        <a   (click)="onClose()" routerLink="/app/compras" routerLinkActive="bg-gray-300  dark:bg-neutral-700"
          class="flex items-center gap-3 p-3 rounded-xl hover:bg-gray-300 dark:hover:bg-neutral-700 dark:hover:bg-neutral-700 transition-all duration-300 ease-in-out">
          <tui-icon icon="store" class="text-green-500"></tui-icon> <span>Compras</span>
        </a>
        <!-- Tiendas -->
        <a  (click)="onClose()" routerLink="/app/caja" routerLinkActive="bg-gray-300  dark:bg-neutral-700"
          class="flex items-center gap-3 p-3 rounded-xl hover:bg-gray-300 dark:hover:bg-neutral-700 dark:hover:bg-neutral-700 transition-all duration-300 ease-in-out">
          <tui-icon icon="store" class="text-green-500"></tui-icon> <span>Caja</span>
        </a>
        <!-- Configuración -->
        <a   (click)="onClose()" routerLink="/app/settings" routerLinkActive="bg-gray-300  dark:bg-neutral-700"
          class="flex items-center gap-3 p-3 rounded-xl hover:bg-gray-300 dark:hover:bg-neutral-700 transition-all duration-300 ease-in-out">
          <tui-icon icon="settings" class="text-red-500"></tui-icon> <span>Configuración</span>
        </a>

        <!-- Reportes -->
        <a  (click)="onClose()" routerLink="/app/reportes" routerLinkActive="bg-gray-300  dark:bg-neutral-700"
          class="flex items-center gap-3 p-3 rounded-xl hover:bg-gray-300 dark:hover:bg-neutral-700 transition-all duration-300 ease-in-out">
          <tui-icon icon="bar-chart" class="text-blue-500"></tui-icon> <span>Reportes</span>
        </a>

      </div>


    </nav>



  </ng-template>


  <div class="flex md:hidden">
    <tui-drawer *tuiPopup="open()" direction="left" class="drawer" [overlay]="true" (click.self)="onClose()">
      <aside class="relative">
        <div class="absolute right-0 top-0">
          <button class="" tuiButton type="button" iconStart="@tui.x" size="s" appearance="floating"
            (click)="onClose()">
          </button>
        </div>

        <ng-container *ngTemplateOutlet="sidebarTemplate"></ng-container>
      </aside>
    </tui-drawer>
  </div>
  <main class="flex h-screen max-w-screen-2xl  w-full mx-auto">
    <!-- Sidebar (estático) -->
    <aside class="hidden md:block p-5 pr-0 h-screen overflow-y-auto bg-tui-background sticky top-0">
      <ng-container *ngTemplateOutlet="sidebarTemplate"></ng-container>
    </aside>

    <!-- Contenido principal (scrollable) -->
    <div class="flex-1 overflow-y-auto ">
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div>
  </main>

</body>