.active-link {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: #171717;
    border-radius: 1px;
  }
}

:host-context([tuiTheme="dark"]) .active-link::after {
  background: #e5e5e5;
}
