<header class="flex justify-between md:justify-end p-3 ">
  <div class="flex md:hidden ">
    <button  size="m" appearance="flat-grayscale" iconStart="@tui.align-justify" tuiButton type="button"
      (click)="openSidebar()">

    </button>
  </div>
  <div>
    <div class="flex justify-between gap-5   w-full">
      	<button  *ngIf="!user.is_superuser" 
    appearance="outline"
    tuiButton
    size="m"
    type="button"
    
>
  <span class="text-sm text-black dark:text-neutral-200"> {{user.tienda_nombre}}</span> 
    <tui-pulse  [playing]="true" />
</button>
      
      <button tuiButton tuiChevron tuiDropdownOpen size="m" type="button" appearance="flat"
        tuiAppearanceMode="checked invalid" [tuiDropdown]="content">
        <div tuiFade tuiFadeHeight="1rem" tuiFadeOffset="0.5rem" class="flex justify-between items-center gap-3">


         
          	<label class="flex gap-3 justify-between">
    <tui-avatar
        size="s"
        src="https://res.cloudinary.com/ddksrkond/image/upload/v1714184531/ebmxpzh5wqtcus0uypu6.png"
    />
    <div tuiTitle="s" class="text-black dark:text-neutral-200">
        <strong> {{ user.first_name || "" }} {{ user.last_name || ""
            }}</strong>
        <div tuiSubtitle>   {{ user.is_active ? 'Activo' : 'Inactivo' }}</div>
    </div>
</label>
        </div>
      </button>
    </div>

    <ng-template #content>
      <tui-data-list role="menu" size="s">
        <tui-opt-group class="flex flex-col gap-2">
          
           <span class="text-black dark:text-white text-sm ml-2"> <span class="font-bold text-xs mr-1">User: <br /> </span> 
           
           {{ user.first_name || "" }} {{ user.last_name || ""
            }}
            </span>
            <span 
            *ngIf="!user.is_superuser" 
            class="text-black dark:text-white text-sm ml-2">
            <span class="font-bold text-xs mr-1">Tienda: <br /></span>
            {{ user.tienda_nombre }}
            </span>
                        <span 
                          class="text-sm ml-2" 
                          [tuiStatus]="user.is_active ? 'var(--tui-status-positive)' : 'var(--tui-status-negative)'">
                          {{ user.is_active ? 'Activo' : 'Inactivo' }}
                        </span>

            <a  #rla="routerLinkActive" role="menuitemradio" routerLinkActive tuiOption
            [attr.aria-checked]="rla.isActive" class="w-[200px]">
            <app-darkmode></app-darkmode>
          

          </a>
           <a 
            [routerLink]="user.is_superuser ? '/admin/config' : '/app/settings'" 
            #rla="routerLinkActive" 
            role="menuitemradio" 
            routerLinkActive 
            tuiOption
            [attr.aria-checked]="rla.isActive" 
            class="w-[200px]">
            <tui-icon *ngIf="rla.isActive" icon="@tui.check" />
            Configuracion
          </a>
          <a (click)="logout()" #rla="routerLinkActive" role="menuitemradio" routerLinkActive tuiOption
            [attr.aria-checked]="rla.isActive" class="w-[200px]">
            <tui-icon *ngIf="rla.isActive" icon="@tui.check" />
            Cerrar Session

          </a>
         
        </tui-opt-group>
      </tui-data-list>
    </ng-template>
  </div>


</header>