@media print {
  @page {
    size: 80mm auto; /* ← AQUÍ SE DEFINE EL ANCHO */
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }
}
iframe {
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  overflow: hidden !important;
}



.full {
    inline-size: 100%;

    & > * {
        flex: 1;
        min-inline-size: 0;
    }
}
