<div class="py-6 rounded-lg" [tuiSkeleton]="!!(productosState$ | async)?.loadingProductos">
    <!-- Si no hay productos, mostramos el mensaje con el botón -->
    <tui-block-status *ngIf="!isTheSearchWasDone 
           && (productosState$ | async)?.productos?.length === 0 
           && !(productosState$ | async)?.loadingProductos; else tabla" size="m" class="m-auto">
        <img alt="survived"
            src="https://res.cloudinary.com/ddksrkond/image/upload/v1743382501/APP%20INVENTARIO/undraw_no-data_ig65_k666oz.svg"
            tuiSlot="top" />

        <h4>Aun no tienes ningun producto</h4>

        <span>Empieza a crear tus primeros productos</span>
    </tui-block-status>

    <div>
        <!-- Si hay productos, mostramos la tabla -->
        <ng-template #tabla>
            <search tuiSearch class="pb-4">
                <form [formGroup]="form" (submit)="onSubmitSearch()">
                    <fieldset tuiTextfieldSize="s">
                        <tui-textfield iconStart="@tui.search">
                            <input tuiTheme="ligth" formControlName="nombre"
                                placeholder="Buscar por nombre o descripción" tuiTextfield />
                        </tui-textfield>
                        <tui-textfield iconStart="@tui.search">
                            <input tuiTheme="ligth" formControlName="sku" placeholder="Buscar por Código"
                                tuiTextfield />
                        </tui-textfield>

                        <tui-select class="w-44" formControlName="categoria" [stringify]="stringify">
                            Categoria
                            <select placeholder="Categoria" tuiSelect [items]="(selectCategorias$ | async)"></select>
                        </tui-select>
                        <button size="s" appearance="textfield" tuiButton type="submit" (click)="onSubmitSearch()"
                            [disabled]="!form.value.nombre && !form.value.categoria && form.value.activo === null && !form.value.sku">
                            Buscar
                        </button>
                    </fieldset>
                    <fieldset>
                        Resultados: {{ ( isTheSearchWasDone ? (productosState$ | async)?.productos_search?.length :
                        (productosState$ | async)?.productos?.length)}}
                        <hr />

                        <button appearance="flat-grayscale" iconStart="@tui.rotate-cw" size="xs" tuiButton type="reset"
                            (click)="clearSearch()">
                            Limpiar {{ count() ? '(' + count() + ')' : '' }}
                        </button>
                    </fieldset>
                </form>
            </search>

            <div class="rounded-lg overflow-hidden"
                [tuiSkeleton]="!!(productosState$ | async)?.loadingProductos || !!(productosState$ | async)?.loadingDelete">
                <div
                    *ngIf="(isTheSearchWasDone ? ((productosState$ | async)?.productos_search?.length || 0) : ((productosState$ | async)?.productos?.length || 0)) > 0">
                    <div class="overflow-x-auto">
                        <table tuiTable size="s" class="w-full">
                            <thead>
                                <tr>
                                    <th tuiTh class="text-center">Codigo</th>
                                    
                                    <th tuiTh *ngIf="displayedColumns.includes('nombre')">Nombre/Detalles</th>

                                    <th tuiTh *ngIf="displayedColumns.includes('categoria')">Categoría</th>

                                    <th tuiTh *ngIf="displayedColumns.includes('fechaCreacion')">Fecha Creación</th>
                                    <th tuiTh *ngIf="displayedColumns.includes('inventario')">Stock</th>
                                    <th tuiTh *ngIf="displayedColumns.includes('inventario')">Venta</th>

                                    <th tuiTh class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let producto of ((productosState$ | async)?.productos_search?.length ? (productosState$ | async)?.productos_search : (productosState$ | async)?.productos)"
                                    class="transition-colors">

                                    <!-- Columna de imagen mejorada -->
                                    <td tuiTd class="text-center">
                                        <div class="flex flex-col justify-center items-center py-2">
                                            <tui-chip iconStart="@tui.scan-barcode" size="s" class="mb-3">

                                                {{ producto.sku }}

                                            </tui-chip>
                                            <div (click)="onSetImageProduct(producto); open = true;"
                                                class="w-24 h-24 rounded-xl overflow-hidden border-2 border-gray-300 dark:border-gray-600 shadow-md hover:shadow-xl transition-all hover:border-blue-500 dark:hover:border-blue-400">
                                                <img [src]="producto?.imagen ? URL_BASE + producto.imagen : 'https://sublimac.com/wp-content/uploads/2017/11/default-placeholder.png'"
                                                    [alt]="producto.nombre"
                                                    class="w-full h-full object-cover cursor-pointer hover:scale-110 transition-transform duration-200" />

                                            </div>
                                        </div>
                                    </td>

                                  
                                    <td tuiTd *ngIf="displayedColumns.includes('nombre')">
                                        <span class="font-semibold text-lg">{{ producto.nombre }}</span>
                                        
  <div class="space-y-1">
    <div *ngFor="let item of producto.caracteristicas | keyvalue" 
         class="flex items-center text-sm">
      <span class="w-2 h-2 rounded-full bg-gray-400 dark:bg-white mr-2 flex-shrink-0"></span>
      <span class="text-gray-600 dark:text-neutral-400 font-medium">{{ capitalize(item.key || '')  }}:</span>
      <span class="ml-1 text-gray-800 dark:text-neutral-200">{{ item.value }}</span>
    </div>
  </div>
  

                                    <td tuiTd *ngIf="displayedColumns.includes('categoria')">
                                        <p *ngIf="!mostrarAdvertencia(producto.categoria_nombre)">{{
                                            producto.categoria_nombre }}</p>
                                        <p *ngIf="mostrarAdvertencia(producto.categoria_nombre)">
                                            ⚠️ Urgente: Asignar una nueva categoría
                                        </p>

                                    </td>



                                    <td tuiTd *ngIf="displayedColumns.includes('fechaCreacion')">
                                        {{ producto.fecha_creacion | date:'dd/MM/yyyy' }}
                                    </td>

                                    <td tuiTd *ngIf="displayedColumns.includes('inventario')" class="">

                                        <!-- Si NO tiene inventario -->
                                        <ng-container *ngIf="!producto.is_inventario">
                                            <div tuiBlockDetails>
                                                <span class="-translate-y-1" [ngClass]="'text-black dark:text-white'">
                                                    0
                                                </span>
                                            </div>
                                        </ng-container>

                                        <!-- Si SI tiene inventario -->
                                        <ng-container *ngIf="producto.is_inventario">
                                            <div tuiBlockDetails class="text-center flex">
                                                <span class="-translate-y-1"
                                                    [ngClass]="getColorClass(producto.inventario?.cantidad || 0)">
                                                    {{ producto.inventario?.cantidad }}
                                                </span>
                                                <p class="text-red-400 text-sm">{{ (producto.inventario?.cantidad || 0) <= 0 ? '* Agotado' : '' }}</p>

                                            </div>
                                        </ng-container>

                                    </td>

                                    <td tuiTd *ngIf="displayedColumns.includes('inventario')" class="text-center">
                                        <div class="flex gap-2 justify-center">


                                            <ng-container *ngIf="!producto.is_inventario" class="text-center">


                                                <button appearance="primary-grayscale" iconStart="@tui.plus" tuiButton
                                                    tuiButtonVertical type="button" class=""
                                                    (click)="crearInventario(producto)">
                                                    Crear Inventario
                                                </button>



                                            </ng-container>
                                            <ng-container *ngIf="producto.is_inventario">

                                                <div class="text-2xl font-bold">

                                                    {{ producto.inventario?.costo_venta | currency:'PEN':'S/ ': '1.2-2'
                                                    }}
                                  <p class="text-red-400 text-sm">{{ producto.inventario?.costo_venta == 0 ? '* Sin costo' : '' }}</p>
                                                </div>

                                            </ng-container>
                                        </div>


                                    </td>

                                    <td tuiTd>
                                        <div class="flex gap-2 justify-center">

                                            <!-- BOTÓN EDITAR -->
                                            <button appearance="positive" iconStart="@tui.pencil" tuiButton
                                                tuiButtonVertical type="button" (click)="showDialogUpdate(producto)"
                                                [disabled]="!(userPermissions$ | async)?.can_update_product">
                                                Editar
                                            </button>

                                            <!-- BOTÓN ELIMINAR -->
                                            <button [disabled]="!(userPermissions$ | async)?.can_delete_product"
                                                [appearance]="(userPermissions$ | async)?.can_delete_product ? 'error' : 'secondary-grayscale'"
                                                iconStart="@tui.trash" tuiButton tuiButtonVertical type="button"
                                                (click)="onDeleteProducto(producto.id)">
                                                Eliminar
                                            </button>
                                            <button *ngIf="!!(userPermissions$ | async)?.can_update_inventory || !!(userPermissions$ | async)?.can_modify_inventory" 
                                                iconStart="@tui.pencil" tuiButton appearance="textfield" type="submit"
                                                size="s" tuiButtonVertical class="px-6 py-2 transition"
                                                (click)="showDialogEditInventario(producto.inventario)">
                                                 Inventario
                                            </button>


                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <tui-block-status *ngIf="isTheSearchWasDone 
               && (productosState$ | async)?.productos_search?.length === 0" size="m" class="m-auto">
                    <img alt="no matches"
                        src="https://res.cloudinary.com/ddksrkond/image/upload/v1743382501/APP%20INVENTARIO/undraw_no-data_ig65_k666oz.svg"
                        tuiSlot="top" />
                    <h4>Productos no encontrados</h4>
                    <span>No coincidimos con ningún producto</span>
                </tui-block-status>
            </div>
        </ng-template>
    </div>
</div>

<ng-template [(tuiPreviewDialog)]="open">
    <tui-preview>
        <tui-preview-title>{{ titles[index] }}</tui-preview-title>
        <tui-preview-pagination [length]="length" [(index)]="index" />

        <button iconStart="@tui.x" tuiIconButton tuiPreviewAction type="button" (click)="open = false">
            Close
        </button>

        <img *polymorpheusOutlet="content[index] as src" alt="preview" [src]="src" />
    </tui-preview>
</ng-template>