@media print {
  #print-area {
    width: 58mm;
  }

  .ticket {
    font-size: 12px;
    margin-bottom: 10px;
  }

  img {
    width: 100%;
  }

  button {
    display: none;
  }
}


.blue {
    background: #428bf9;
}

.yellow {
    background: #ffdd2d;
}

.green {
    background: #00b92d;
}

.red {
    background: #f52222;
}
