:host {
  display: block;
}

table {
  width: 100%;
}

th, td {
  color: var(--tui-text-primary) !important;
  background-color: transparent !important;
}

thead tr {
  background-color: transparent !important;
}

tbody tr {
  background-color: transparent !important;
}
