<table tuiTable size="s">
  <thead>
    <tr>
      <th tuiTh class="text-slate-700 dark:text-gray-300">ID Producto / ID Inventario</th>
      <th tuiTh class="text-slate-700 dark:text-gray-300">Nombre</th>
      <th tuiTh class="text-slate-700 dark:text-gray-300">Stock</th>
    </tr>
  </thead>
  <tbody tuiTbody *ngIf="(selectVentas$| async)?.lowStockProducts?.length">
    <tr *ngFor="let product of (selectVentas$| async)?.lowStockProducts">
      <td tuiTd class="text-slate-700 dark:text-gray-300">{{ product.producto_id }} / {{ product.inventario_id }}</td>

      <td tuiTd class="text-slate-700 dark:text-gray-300">

        {{ product.nombre }}
      </td>

      <td tuiTd>


        <div tuiBlockDetails class="">
          <span class="-translate-y-1 text-slate-700 dark:text-gray-300" [ngClass]="getColorClass(product.cantidad)">
            {{ product.cantidad }}
          </span>
        </div>
      </td>

    </tr>
  </tbody>
</table>