

<div [tuiSkeleton]="!!(selectInventario$ | async)?.loadingLowStock" 
  [ngClass]="(selectInventario$ | async)?.loadingLowStock ? 'h-[200px]' : 'h-auto'"
  class="rounded-xl"

> 


<table tuiTable size="s">
  <thead>
    <tr>
      
      <th tuiTh class="text-slate-700 dark:text-gray-300">Nombre</th>
      <th tuiTh class="text-slate-700 dark:text-gray-300">Stock</th>
    </tr>
  </thead>
  <tbody tuiTbody *ngIf="(selectInventario$| async)?.lowStockProducts?.length">
    <tr *ngFor="let item of (selectInventario$| async)?.lowStockProducts">
      

      <td tuiTd class="text-slate-700 dark:text-gray-300">

        {{ item.item.nombre }}
      </td>

      <td tuiTd>


        <div  class="">
          <span class="-translate-y-1 font-bold text-2xl" [ngClass]="getColorClass(item.inventario.cantidad)">
            {{ item.inventario.cantidad }}
          </span>
        </div>
      </td>

    </tr>
  </tbody>
</table></div>