<div class="form-container mt-6  rounded-lg ">
  <form [formGroup]="inventarioForm2" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <div class="flex flex-wrap w-full flex-1 gap-3">
      <div class="col-span-2 flex w-full justify-start gap-3">

  <div class="flex ">
        <div class="text-center">
          <div class="flex justify-center items-center">
            <div
              class="w-24 h-24 rounded-xl overflow-hidden border-2 border-gray-300 dark:border-gray-600 shadow-md hover:shadow-xl transition-all hover:border-blue-500 dark:hover:border-blue-400">


              <img [src]="URL_BASE + productSelected.imagen"
                class="w-full h-full object-cover cursor-pointer hover:scale-110 transition-transform duration-200" />

            </div>
          </div>
        </div>
        </div>
        <tui-combo-box formControlName="producto" class="w-full" [stringify]="stringify">
          CODIGO DE PRODUCTO <tui-data-list-wrapper *tuiDataList [itemContent]="stringify | tuiStringifyContent"
            [items]="productos | tuiFilterByInput: matcherProduct" />

        </tui-combo-box>
      

        
      </div>
      <ng-template #productContent let-item>
        <div class="card-item">

          <span class="card-name">{{ item.nombre }}</span>

        </div>
      </ng-template>
    </div>

    <ng-template #proveedorContent let-item>
      <div class="card-item">

        <span class="card-name">{{ item.nombre }}</span>

      </div>
    </ng-template>

    <ng-template #tiendasContent let-item>
      <div class="card-item">

        <span class="card-name">{{ item.nombre }}</span>

      </div>
    </ng-template>


    <!-- Campos numéricos en una fila -->
    <div class="flex gap-3 col-span-1 md:col-span-2 w-full flex-wrap">
      <tui-textfield class="flex-1">
        <label tuiLabel>Cantidad</label>
        <input [max]="500" [min]="1" [step]="1" tuiInputNumber formControlName="cantidad" />
      </tui-textfield>

      <tui-textfield class="flex-1">
        <label tuiLabel>Stock Minimo</label>
        <input [max]="500" [min]="1" [step]="1" tuiInputNumber formControlName="stock_minimo" />
      </tui-textfield>

      <tui-textfield class="flex-1">
        <label tuiLabel>Stock Maximo</label>
        <input [max]="500" [min]="1" [step]="1" tuiInputNumber formControlName="stock_maximo" />
      </tui-textfield>

    </div>
    <div class="flex space-x-3 w-full col-span-2">
      <tui-textfield tuiTextfieldController class="flex flex-2 w-full">
        <label tuiLabel>Costo Compra</label>
        <input [min]="0" tuiInputNumber formControlName="costo_compra" />

      </tui-textfield>
      <tui-textfield tuiTextfieldController class="flex flex-2 w-full">
        <label tuiLabel>Costo Venta</label>
        <input [min]="0" [tuiNumberFormat]="{precision: 2}" tuiInputNumber formControlName="costo_venta" />

      </tui-textfield>
    </div>


    <tui-textarea formControlName="descripcion" class="w-full  col-span-2">
      <label tuiLabel>Descripción</label>
    </tui-textarea>
    <!-- Botón -->

    <img #barcodeImg />

    <div *ngIf="!(userPermissions$ | async)?.can_create_inventory" class="w-full col-span-2">

      <span class="text-yellow-400">* Permisos insuficientes para crear un inventario </span>

    </div>


    <button *ngIf="(userPermissions$ | async)?.can_create_inventory" tuiButton
      [iconStart]="loadingCreateInventario ? '' : '@tui.plus'" size="m" class="w-full flex col-span-2" type="submit"
      type="submit" appearance="textfield" [disabled]="inventarioForm2.invalid || loadingCreateInventario">
      <span *ngIf="loadingCreateInventario">
        <tui-loader [showLoader]="loadingCreateInventario" />

      </span>
      <span>

        Crear Inventario
      </span>

    </button>


  </form>
</div>