<main tuiNavigationMain class="h-screen">
  <header tuiSubheader>
    <div class="flex gap-4 pt-4 items-center">
      <h2 tuiHeader>
        <div tuiTitle>
          <div tuiNavigationLogo>
            <tui-icon icon="@tui.gitlab" />
            <span tuiFade>Gestion de Ventas</span>
          </div>


        </div>
      </h2>
    </div>


    <!-- PESTAÑAS SIN ROUTER -->
    <nav tuiTabs class="flex gap-2 overflow-x-auto whitespace-nowrap py-2 px-1">

      <button tuiTab (click)="setTab('historial')" [class.active-link]="activeTab === 'historial'">
        Historial de Ventas
      </button>

      <button tuiTab (click)="setTab('ventas-hoy')" [class.active-link]="activeTab === 'ventas-hoy'">
        Ventas Hoy
      </button>

      <button tuiTab (click)="setTab('ultima-venta')" [class.active-link]="activeTab === 'ultima-venta'">
        Ver última venta realizada
      </button>

      <button tuiTab (click)="setTab('anuladas-hoy')" [class.active-link]="activeTab === 'anuladas-hoy'">
        Ventas Anuladas Hoy
      </button>

      <button tuiTab (click)="setTab('top-productos-hoy')" [class.active-link]="activeTab === 'top-productos-hoy'">
        Productos más vendidos Hoy
      </button>

    </nav>
  </header>
  <div>
    <div class="py-4">


      <ng-container *ngIf="activeTab === 'historial'">

        <app-listallventas></app-listallventas>
      </ng-container>

      <ng-container *ngIf="activeTab === 'ventas-hoy'">

        <div>
          <h2 class="text-xl font-bold mb-3">Todas las ventas realizadas hoy</h2>
          <app-pruebastext></app-pruebastext>
          <app-todaysalestable></app-todaysalestable>
        </div>
      </ng-container>
      <ng-container *ngIf="activeTab === 'ultima-venta'">

        <div>
          <h2 class="text-xl font-bold mb-3">Última venta realizada</h2>
          <div>
            <app-todaysale></app-todaysale>
          </div>
        </div>
      </ng-container>


      <!-- TAB: VENTAS ANULADAS HOY -->
      <ng-container *ngIf="activeTab === 'anuladas-hoy'">
        <!-- CONTENIDO: Anuladas del día -->
        <div>
          <h2 class="text-xl font-bold mb-3">Ventas Anuladas Hoy</h2>
          <app-canceledsales></app-canceledsales>
        </div>
      </ng-container>


      <!-- TAB: PRODUCTOS MÁS VENDIDOS HOY -->
      <ng-container *ngIf="activeTab === 'top-productos-hoy'">
        <!-- CONTENIDO: Top productos del día -->
        <div>
          <h2 class="text-xl font-bold mb-3">Productos más vendidos Hoy</h2>
          <app-mostsalesproducts></app-mostsalesproducts>
        </div>
      </ng-container>

    </div>
  </div>
</main>