<div tuiNavigationMain class="pl-4 bg-neutral-50 dark:bg-neutral-800"
     [class.h-screen]="activeTab === 'mis-clientes'"
     [class.overflow-hidden]="activeTab === 'mis-clientes'"
     [class.min-h-screen]="activeTab !== 'mis-clientes'">
    <header tuiSubheader class="bg-transparent border-none">
        <div class="flex gap-4 items-center">
            <h2 tuiHeader>
                <div tuiTitle>
                    <div tuiNavigationLogo>
                        <tui-icon icon="@tui.gitlab" />
                        <span tuiFade>Gestion de Clientes</span>
                    </div>

                  
                </div>
            </h2>
        </div>




<nav tuiTabs class="flex gap-2 overflow-x-auto whitespace-nowrap py-2 px-1">

    <button tuiTab 
        (click)="setTab('mis-clientes')" 
        [class.active-link]="activeTab === 'mis-clientes'">
       Clientes registrados
    </button>

    <button tuiTab 
        (click)="setTab('estadisticas')" 
        [class.active-link]="activeTab === 'estadisticas'">
       Estadísticas
    </button>

    <button tuiTab 
        (click)="setTab('sorteos')" 
        [class.active-link]="activeTab === 'sorteos'">
       Sorteos
    </button>

</nav>


    </header>


    <div>
        <div class="pt-4">
            
            <ng-container *ngIf="activeTab === 'mis-clientes'">
                               <app-tableclientes></app-tableclientes>
            </ng-container>

            <ng-container *ngIf="activeTab === 'estadisticas'">
                <app-estadisticas-clientes></app-estadisticas-clientes>
            </ng-container>

            <ng-container *ngIf="activeTab === 'sorteos'">
                <app-sorteos-clientes></app-sorteos-clientes>
            </ng-container>

        </div>
    </div>

</div>
