<main tuiNavigationMain class="bg-neutral-50 dark:bg-neutral-800 min-h-screen">
    <header tuiSubheader class="bg-transparent border-none">
        <div class="flex gap-4 items-center">
            <h2 tuiHeader>
                <div tuiTitle>
                    <div tuiNavigationLogo>
                        <tui-icon icon="@tui.settings" />
                        <span tuiFade>Configuración</span>
                    </div>
                </div>
            </h2>
        </div>

        <nav tuiTabs class="flex flex-wrap gap-2">
            <a tuiTab routerLink="/app/settings/cuenta" routerLinkActive="active-link">
                Mi Cuenta
            </a>
            <a tuiTab routerLink="/app/settings/seguridad" routerLinkActive="active-link">
                Seguridad
            </a>
            <a tuiTab routerLink="/app/settings/permisos" routerLinkActive="active-link">
                Mis Permisos
            </a>
            <a tuiTab routerLink="/app/settings/temas" routerLinkActive="active-link">
                Temas y UI
            </a>
        </nav>
    </header>

    <div>
        <router-outlet></router-outlet>
    </div>
</main>
